.input{
    height: 75px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #0a0a23;
    color: white;
    padding: 11PX 30PX 11px 11PX;
    margin: 5PX solid #888;
    box-shadow: -1px 4px 1px 1px white;
}