.App {
width: 100%;
height: 100vh;
padding-top: 10px;
background-color: #0c0c21;
font-family: Lato, sans-serif;
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.freecodecamp-logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.freecodecamp-logo{
height: 30px;
}
.contenedor-calculadora{
  width: 350px;
  height: 495px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid white;
}


.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
